<div>
  <div class="container1">
    <mat-toolbar class="matToolList" color="primary">
      <span class="daysToolBar" >Days</span>
    </mat-toolbar>
    
    <div class="daysList">
      <button class="days" (click) ="mondayToggle()" mat-raised-button >Monday</button>
      <mat-divider></mat-divider>
      <button class="days" (click) ="tuesdayToggle()" mat-raised-button >Tuesday</button>
      <mat-divider></mat-divider>
      <button class="days" mat-raised-button  (click) ="wednesdayToggle()">Wednesday</button>
      <mat-divider></mat-divider>
      <button class="days" mat-raised-button  (click) ="thrusdayToggle()" >Thrusday</button>
      <mat-divider></mat-divider>
      <button mat-raised-button class="days"  (click) ="fridayToggle()" >Friday</button>
      <mat-divider></mat-divider>
      <button class="days" mat-raised-button  (click) ="saturdayToggle()"  >Saturday</button>
      <mat-divider></mat-divider>
      <button class="days" mat-raised-button  (click) ="sundayToggle()">Sunday</button>
      <mat-divider></mat-divider>
    </div>
  </div>

  
  <div class="container2">
   <!-- Monday -->
    <div *ngIf="monday" class="daysButton" >
        
          <mat-toolbar color="primary">
            <span class="lecToolbar">Monday Lectures</span>
          </mat-toolbar>

          <div class="lectures">
            <mat-card class="matCard">
                <div class="timeDiv1">
                   <div class="timeDiv2">8:30 - 9:45</div>
                 </div>
              
                <div class = "lecDiv">
                  <mat-list class="lecMatList">
                      <mat-list-item (click) ="introToQuantamMechanics();" matRipple> Introduction to Quantum Mechanics (Sec A)</mat-list-item>
                      <mat-list-item  (click) ="introToCrypto();"  matRipple>Introductin to Cryptography</mat-list-item>
                      <mat-list-item  (click) ="EinsteinPhysics();" matRipple>Einstein's Physics (Sorry , Sir give new link for every lecture)</mat-list-item>
                  </mat-list>
                </div>
            </mat-card>
            
            <mat-card class="matCard">
              <div class="timeDiv1">
                 <div class="timeDiv2">10:15 - 11:30</div>
               </div>
            
              <div class = "lecDiv">
                <mat-list class="lecMatList">
                    <mat-list-item (click) ="CulturePoliticsIdentity();" matRipple> Culture, Politics, Identity</mat-list-item>
                    <mat-list-item  (click) ="visualAnthropology();"  matRipple> Visual Anthropology</mat-list-item>
                    <mat-list-item  (click) ="southAsia();" matRipple>Publics in South Asia: Contemporary Perspectives</mat-list-item>
                    <mat-list-item  (click) ="organizationalBehaviour();" matRipple>Organisational Behaviour</mat-list-item>
                  </mat-list>
              </div>
          </mat-card>
        
          <mat-card class="matCard">
            <div class="timeDiv1">
               <div class="timeDiv2">12:00 - 13:15</div>
             </div>
          
            <div class = "lecDiv">
              <mat-list class="lecMatList">
                  <mat-list-item (click) ="SatelitteCommunication();" matRipple>Satelitte Communication</mat-list-item>
                  <mat-list-item  (click) ="MachineLearning();"  matRipple>Machine Learning</mat-list-item>
                  <mat-list-item  (click) ="noSql();" matRipple>No SQL Databases</mat-list-item>
                  <mat-list-item  (click) ="ModelsofComputation();" matRipple>Models of Computation</mat-list-item>
                  <mat-list-item  (click) ="ComputerGraphics();" matRipple>Computer Graphics</mat-list-item>
                </mat-list>
            </div>
        </mat-card>
        
        <mat-toolbar color="primary"  class = "labToolbar" >
          <span class="lecToolbar" >Monday Labs</span>
        </mat-toolbar>
        <mat-card class="matCard">
          <div class="timeDiv1" >
             <div class="timeDiv2">2:00 - 4:00</div>
           </div>
        
          <div class = "lecDiv">
            <mat-list class="lecMatList">
            
              <mat-list-item>
                <div class="dropup">
                 <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Modeling and Simulation
                                 </span>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 1</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 2</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 3</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 4</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 5</a>
                 </div>
               </div>
             </mat-list-item>


              </mat-list>
          </div>
      </mat-card>


      </div>
   </div>

<!-- Monday -->

<!-- Tuesday -->
<div *ngIf="tuesday" class="daysButton" >
        
  <mat-toolbar color="primary">
    <span class="lecToolbar" >Tuesday Lectures</span>
  </mat-toolbar>

  <div class="lectures">
    <mat-card class="matCard">
        <div class="timeDiv1" >
           <div class="timeDiv2">8:30 - 9:45</div>
         </div>
      
        <div class = "lecDiv">
          <mat-list class="lecMatList">
              <mat-list-item (click) ="se();" matRipple> Software Engineering</mat-list-item>
          </mat-list>
        </div>
    </mat-card>
    
    <mat-card class="matCard">
      <div class="timeDiv1">
         <div class="timeDiv2">10:15 - 11:30</div>
       </div>
    
      <div class = "lecDiv">
        <mat-list class="lecMatList">
            <mat-list-item (click) ="ModelingandSimulation();" matRipple>Modeling and Simulation</mat-list-item>
         
          </mat-list>
      </div>
  </mat-card>
  <mat-card class="matCard">
    <div class="timeDiv1">
       <div class="timeDiv2">12:00 - 13:15</div>
     </div>
  
    <div class = "lecDiv">
      <mat-list class="lecMatList">
          <mat-list-item (click) ="DataAnalysisandVisualization();" matRipple>Data Analysis and Visualization</mat-list-item>
          <mat-list-item  (click) ="DigitalSignalProcessing();"  matRipple> Digital Signal Processing</mat-list-item>
          <mat-list-item  (click) ="SpeechTechnology();" matRipple>Speech Technology</mat-list-item>
          <mat-list-item  (click) ="InternetofThings();" matRipple>Internet of Things</mat-list-item>
          <mat-list-item  (click) ="introToRobo();" matRipple> Introduction to Robotics</mat-list-item>
          <mat-list-item  (click) ="CMOSAnalogICDesign();" matRipple> CMOS Analog IC Design </mat-list-item>
          
        </mat-list>
    </div> 
  </mat-card>
 
  <mat-toolbar color="primary" class = "labToolbar">

    <span class="lecToolbar" >Tuesday Labs</span>
  </mat-toolbar>
  <mat-card class="matCard">
    <div class="timeDiv1">
       <div class="timeDiv2">2:00 - 4:00</div>
     </div>
  
    <div class = "lecDiv">
      <mat-list class="lecMatList">
       
        <mat-list-item>
         <div class="dropup">
          <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Operating System
          </span>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 1</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 2</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 3</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 4</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 5</a>
          </div>
        </div>
      </mat-list-item>
       
      <mat-list-item>
        <div class="dropup">
         <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Computational Finance
         </span>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 1</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 2</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 3</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 4</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 5</a>
         </div>
       </div>
     </mat-list-item>
      </mat-list>
    </div>
</mat-card>


 </div>
</div>
<!-- Tuesday -->

<!-- Wednesday -->
<div *ngIf="wednesday" class="daysButton"  >
        
  <mat-toolbar color="primary">
    <span class="lecToolbar" >Wednesday Lectures</span>
  </mat-toolbar>

  <div  class="lectures">
    <mat-card class="matCard">
        <div class="timeDiv1">
           <div class="timeDiv2">8:30 - 9:45</div>
         </div>
      
        <div class = "lecDiv">
          <mat-list class="lecMatList">
              <mat-list-item (click) ="SatelitteCommunication();" matRipple>Satelitte Communication</mat-list-item>
              <mat-list-item  (click) ="MachineLearning();"  matRipple>Machine Learning</mat-list-item>
              <mat-list-item  (click) ="noSql();" matRipple>No SQL Databases</mat-list-item>
              <mat-list-item  (click) ="ModelsofComputation();" matRipple>Models of Computation</mat-list-item>
              <mat-list-item  (click) ="ComputerGraphics();" matRipple>Computer Graphics</mat-list-item>

          </mat-list>
        </div>
    </mat-card>
    
    <mat-card class="matCard">
      <div class="timeDiv1">
         <div class="timeDiv2">10:15 - 11:30</div>
       </div>
    
      <div class = "lecDiv">
        <mat-list class="lecMatList">
            <mat-list-item (click) ="ComputationalFinance();" matRipple> Computational Finance</mat-list-item>
            <mat-list-item  (click) ="RFEngineering();"  matRipple>RF Engineering</mat-list-item>
            <mat-list-item  (click) ="AdaptiveSignalProcessing();" matRipple>Adaptive Signal Processing</mat-list-item>
            <mat-list-item  (click) ="os();" matRipple> Operating System</mat-list-item>
            <mat-list-item  (click) ="LogicforComputerScience();" matRipple> Logic for Computer Science</mat-list-item>
          </mat-list>
      </div>
  </mat-card>
  <mat-card class="matCard">
    <div class="timeDiv1">
       <div class="timeDiv2">12:00 - 13:15</div>
     </div>
  
    <div class = "lecDiv">
      <mat-list class="lecMatList">
          <mat-list-item (click) ="HighPerformanceComputing();" matRipple>High Performance Computing</mat-list-item>
        
        </mat-list>
    </div> 
  </mat-card>

  <mat-toolbar color="primary"  class = "labToolbar">
    <span class="lecToolbar">Wednesday Labs</span>
  </mat-toolbar>
  <mat-card class="matCard">
    <div class="timeDiv1">
       <div class="timeDiv2">2:00 - 4:00</div>
     </div>
  
    <div class = "lecDiv">
      <mat-list class="lecMatList">
       
        <mat-list-item>
          <div class="dropup">
           <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            High Performance Computing
           </span>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 1</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 2</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 3</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 4</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 5</a>
           </div>
         </div>
       </mat-list-item>

      </mat-list>
    </div>
</mat-card>


 </div>
</div>
<!-- wednesday -->
 <!-- Thrusday -->
<div *ngIf="thrusday" class="daysButton"  >
        
  <mat-toolbar color="primary">
    <span  class="lecToolbar">Thrusday Lectures</span>
  </mat-toolbar>

  <div class="lectures" >
    <mat-card class="matCard">
        <div class="timeDiv1">
           <div class="timeDiv2">8:30 - 9:45</div>
         </div>
      
        <div class = "lecDiv">
          <mat-list class="lecMatList">
              <mat-list-item (click) ="se();" matRipple>Software Engineering</mat-list-item>
              <mat-list-item  (click) ="ModelingandSimulation();"  matRipple>Modeling and Simulation</mat-list-item>
             
          </mat-list>
        </div>
    </mat-card>
    
    <mat-card class="matCard">
      <div class="timeDiv1">
         <div class="timeDiv2">10:15 - 11:30</div>
       </div>
    
      <div class = "lecDiv">
        <mat-list class="lecMatList">
            <mat-list-item (click) ="introToQuantamMechanics();" matRipple> Introduction to Quantum Mechanics</mat-list-item>
            <mat-list-item  (click) ="introToCrypto();"  matRipple> Introduction to Cryptography</mat-list-item>
            <mat-list-item  (click) ="EinsteinPhysics();" matRipple>Einstein's Physic</mat-list-item>
          </mat-list>
      </div>
  </mat-card>
  <mat-card class="matCard">
    <div class="timeDiv1">
       <div class="timeDiv2">12:00 - 13:15</div>
     </div>
  
    <div class = "lecDiv">
      <mat-list class="lecMatList">
        <mat-list-item (click) ="CulturePoliticsIdentity();" matRipple> Culture, Politics, Identity</mat-list-item>
        <mat-list-item  (click) ="visualAnthropology();"  matRipple> Visual Anthropology</mat-list-item>
        <mat-list-item  (click) ="southAsia();" matRipple>Publics in South Asia: Contemporary Perspectives</mat-list-item>
        <mat-list-item  (click) ="organizationalBehaviour();" matRipple>Organisational Behaviour</mat-list-item>

        </mat-list>
    </div> 
  </mat-card>

  <mat-toolbar color="primary"  class = "labToolbar">
    <span class="lecToolbar">Thrusday Labs</span>
  </mat-toolbar>
  <mat-card class="matCard">
    <div class="timeDiv1">
       <div class="timeDiv2">2:00 - 4:00</div>
     </div>
  
    <div class = "lecDiv">
      <mat-list class="lecMatList">


        <mat-list-item>
          <div class="dropup">
           <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data Analysis and Visualization
           </span>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 1</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 2</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 3</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 4</a>
            <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 5</a>
           </div>
         </div>
       </mat-list-item>


       <mat-list-item>
        <div class="dropup">
         <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Digital Signal Processing
         </span>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 1</a>
          <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 2</a>
          <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 3</a>
          <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 4</a>
          <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 5</a>
         </div>
       </div>
     </mat-list-item>

     <mat-list-item>
      <div class="dropup">
       <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        CMOS Analog IC Design
       </span>
       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 1</a>
        <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 2</a>
        <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 3</a>
        <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 4</a>
        <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 5</a>
       </div>
     </div>
   </mat-list-item>

   <mat-list-item>
    <div class="dropup">
     <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Internet of Things
     </span>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 1</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 2</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 3</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 4</a>
                   <a class="dropdown-item" href="https://www.google.com" target="_blank">Group 5</a>
     </div>
   </div>
 </mat-list-item>


 <mat-list-item class="daysButton" (click)="introToRoboLab()" matRipple>
  <div class="dropup">
   <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Introduction to Robotics
   </span>
  
 </div>
</mat-list-item>
       </mat-list>
    </div>
</mat-card>


 </div>
</div>
<!-- Thrusday -->
 
 <!-- Friday -->
<div *ngIf="friday" class="daysButton"  >
        
  <mat-toolbar color="primary">
    <span  class="lecToolbar">Friday Lectures</span>
  </mat-toolbar>

  <div class="lectures">
    <mat-card class="matCard">
        <div class="timeDiv1">
           <div class="timeDiv2">8:30 - 9:45</div>
         </div>
      
        <div class = "lecDiv">
          <mat-list class="lecMatList">
            <mat-list-item (click) ="DataAnalysisandVisualization();" matRipple>Data Analysis and Visualization</mat-list-item>
            <mat-list-item  (click) ="DigitalSignalProcessing();"  matRipple> Digital Signal Processing</mat-list-item>
            <mat-list-item  (click) ="SpeechTechnology();" matRipple>Speech Technology</mat-list-item>
            <mat-list-item  (click) ="InternetofThings();" matRipple>Internet of Things</mat-list-item>
            <mat-list-item  (click) ="introToRobo();" matRipple> Introduction to Robotics</mat-list-item>
            <mat-list-item  (click) ="CMOSAnalogICDesign();" matRipple> CMOS Analog IC Design </mat-list-item>
          
          </mat-list>
        </div>
    </mat-card>
    
    <mat-card class="matCard">
      <div class="timeDiv1">
         <div class="timeDiv2">10:15 - 11:30</div>
       </div>
    
      <div class = "lecDiv">
        <mat-list class="lecMatList">
            <mat-list-item (click) ="HighPerformanceComputing();" matRipple>High Performance Computing</mat-list-item>
          
          </mat-list>
      </div>
  </mat-card>
  <mat-card class="matCard">
    <div class="timeDiv1">
       <div class="timeDiv2">12:00 - 13:15</div>
     </div>
  
    <div class = "lecDiv">
      <mat-list class="lecMatList">
        <mat-list-item (click) ="ComputationalFinance();" matRipple> Computational Finance</mat-list-item>
            <mat-list-item  (click) ="RFEngineering();"  matRipple>RF Engineering</mat-list-item>
            <mat-list-item  (click) ="AdaptiveSignalProcessing();" matRipple>Adaptive Signal Processing</mat-list-item>
            <mat-list-item  (click) ="os();" matRipple> Operating System</mat-list-item>
            <mat-list-item  (click) ="LogicforComputerScience();" matRipple> Logic for Computer Science</mat-list-item> 
      </mat-list>
    </div> 
  </mat-card>

  <mat-toolbar color="primary"  class = "labToolbar">
    <span class="lecToolbar">Friday Labs</span>
  </mat-toolbar>
  <mat-card class="matCard">
    <div class="timeDiv1">
       <div class="timeDiv2">2:00 - 4:00</div>
     </div>
  
    <div class = "lecDiv">
      <mat-list class="lecMatList">

        <mat-list-item (click) = "noSqlLab()" matRipple>
           No SQL Databases
            </mat-list-item>

        <mat-list-item (click) = "ComputerGraphicsLab()" matRipple>
            Computer Graphics
           </mat-list-item>

        <mat-list-item matRipple (click) = "MachineLearningLab()">
            Machine Learning
        </mat-list-item>
        
           </mat-list>
    </div>
</mat-card>


 </div>
</div>
<!-- Friday -->

 <!-- Saturday -->
<div *ngIf="saturday" class="daysButton"  >
  
  <mat-toolbar color="primary">
    <span  class="lecToolbar">Saturday Labs</span>
  </mat-toolbar>

  <mat-card class="matCard">
    <div class="timeDiv1">
       <div class="timeDiv2">2:00 - 4:00</div>
     </div>
  
    <div class = "lecDiv">
      <mat-list class="lecMatList">
        <mat-list-item matRipple (click) = "SoftwareEnginneringLab()">
          <div class="dropup">
           <span class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Software Enginnering (Sir)
          </span>
         </div>
        </mat-list-item>

        <mat-list-item>
          
          <div class="dropup">
           <span class=" btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" matRipple>Software Enginnering(TA)
           </span>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             
             <a class="dropdown-item" target="_blank" href="https://meet.google.com/vuj-hmxe-ojc">Group 1, 2, 3, 4, 5, 6, 30</a>
             <a class="dropdown-item" target="_blank" href="https://meet.google.com/gjr-tytd-tvg">Group 7, 8, 9, 10, 11, 31, 32</a>
             <a class="dropdown-item" target="_blank" href="https://meet.google.com/mcm-xmjd-wdm">Group 12, 13, 14, 15, 16, 17</a>
             <a class="dropdown-item" target="_blank" href="https://meet.google.com/pqf-kfkg-rjo">Group 18, 19, 20, 21, 22, 23</a>
             <a class="dropdown-item" target="_blank" href="https://meet.google.com/xxk-udfi-xor">Group 24, 25, 26, 27, 28, 29</a>
             

           </div>
         </div>
        </mat-list-item>


      </mat-list>
    </div>
</mat-card>


</div>
<!-- Saturday -->
 <!-- sunday -->

 <div *ngIf="sunday" class="daysButton"  >
        
 <img src= "./assets/Images/sundayfunday.gif" alt="">
</div>
<!-- sunday funday -->

 </div>
</div>