body{
  overflow-x: scroll;
}
@media (min-width:480px)  { 
  .daysButton{
    width:100%;
    height: 100%;
  }
  
}
.example-spacer {
  flex: 1 1 auto;
}
.container
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
.container1{
  height: 100vh;
  width: 35%;
  margin: 0;
  padding: 0;
  position: fixed;
  float: left;
}
.daysList{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
button {
  width: 100%;
  height: 15%;

}
.container2
{

  float:right;
  height: 100vh;
  width:65%;
 
}
mat-list-item {
  cursor: pointer;
}
.dropdown-toggle::after {
  display:none;
}
button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}
.days
{
  font-size: large; 
  font-weight: bold;
}
.daysToolBar{
  font-size: larger; 
  font-weight: bold;
}

.daysButton{
  width:90%;
  height: 100%;
  margin: 0 auto;
}

.lecToolbar
{
  margin: 0 auto;
}
.lectures
{
  height: 100%;
}
.matCard
{
  display:flex;
}
.timeDiv1
{
  width: 25%; border-right: 1px solid grey;
}
.timeDiv2
{
  text-align: center; padding: 20% 0;
}
.lecDiv
{
  width: 75%;
}

.lecMatList{
  padding-left: 20%;
}
.labToolbar
{
  margin-top:1%;
}